{erl_opts, [debug_info]}.
{deps, [
    cowboy,
    {jsx, {git, "https://gitee.com/imboy-tripartite-deps/jsx", {tag, "2.9.0"}}},
    {jsone, {git, "https://gitee.com/imboy-tripartite-deps/jsone", {tag, "1.7.0"}}},
    {mysql, {git, "https://gitee.com/imboy-tripartite-deps/mysql-otp", {tag, "1.7.0"}}},
    {poolboy, {git, "https://gitee.com/imboy-tripartite-deps/poolboy", {tag, "1.5.2"}}},
    {jwerl, {git, "https://github.com/G-Corp/jwerl", {tag, "1.2.0"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [buzz]}
]}.
