[
  {buzz, [
    {host, '_'},
    {http_port, 10040},
    {sqlPool, [
      {name, mysql},
      {poolConf, [
        {name, {local, mysql}},
        {worker_module, mysql},
        {size, 10},
        {max_overflow, 5}
      ]},

      {sqlConf, [
        {host, "127.0.0.1"},
        {port, 3306},
        {user, "root"},
        {password, "123456"},
        {database, "buzz"}
      ]}
    ]}
  ]}
].